bin/
obj/
out/
artifacts/
TestResults*/
*.trx
*.log
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
*.nupkg
*.snupkg
*.env
.vs/
.idea/
.history/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
